<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Bootstap 5 User POC Dashboard</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/alipoc/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/alipoc/css/all.min.css" />
	<link rel="stylesheet" href="/alipoc/css/styles.css" />
	<script src="/alipoc/js/bootstrap.js"></script>
	<script src="/alipoc/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	<!-- 
	<iframe scrolling="no" src="./static/bs_navbar.html"
		style="width: 100%; height: 60px; border: none; margin-top: 1px; overflow: visible;"></iframe>
    -->
	<div class="d-flex" id="wrapper">
		<!-- Sidebar -->
		<div class="bg-white" id="sidebar-wrapper">
			<div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
				<i class="fas fa-user-secret me-2"></i>Ali POC APP - Ver 1.0
			</div>
			<div class="list-group list-group-flush my-3">
				<a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
						class="fas fa-tachometer-alt me-2"></i>Dashboard</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
						class="fas fa-project-diagram me-2"></i>Projects</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
						class="fas fa-chart-line me-2"></i>Analytics</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
						class="fas fa-paperclip me-2"></i>Reports</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
						class="fas fa-shopping-cart me-2"></i>Store Mng</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
						class="fas fa-gift me-2"></i>Products</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
						class="fas fa-comment-dots me-2"></i>Chat</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent second-text fw-bold"><i
						class="fas fa-map-marker-alt me-2"></i>Outlet</a> <a href="#"
					class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
						class="fas fa-power-off me-2"></i>Logout</a>
			</div>
		</div>
		<!-- /#sidebar-wrapper -->


		<!-- Below section is main content -->
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
				<div class="d-flex align-items-center">
					<i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
					<h2 class="fs-2 m-0">Dashboard</h2>
				</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle second-text fw-bold" href="#"
								id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> <i
									class="fas fa-user me-2"></i>John
								Doe
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Profile</a></li>
								<li><a class="dropdown-item" href="#">Settings</a></li>
								<li><a class="dropdown-item" href="#">Logout</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<!-- ------main content------- -->
			<div class="container-fluid px-4">
				<div class="row g-3 my-2">
					<div class="col-md-3">
						<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">720</h3>
								<p class="fs-5">Products</p>
							</div>
							<i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>

					<div class="col-md-3">
						<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">4920</h3>
								<p class="fs-5">Sales</p>
							</div>
							<i
								class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>

					<div class="col-md-3">
						<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">3899</h3>
								<p class="fs-5">Delivery</p>
							</div>
							<i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>

					<div class="col-md-3">
						<div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
							<div>
								<h3 class="fs-2">%25</h3>
								<p class="fs-5">Increase</p>
							</div>
							<i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
						</div>
					</div>
				</div>

				<!-- ------Table List------- -->

				<div class="row my-5">
					<h3 class="fs-4 mb-3">User List</h3>
					<ul class="pagination justify-content-end">
						<li class="page-item"><a class="page-link" th:href="@{'/todoaddusr'}">Add New User</a></li>


						<li class="page-item"><a
								th:classappend="${pageinfo.disablePreLink}?'page-link disabled':'page-link'"
								th:href="@{'/get/'+${pageinfo.prePage} +'/' + ${pageinfo.pageSize}}">Previous</a></li>

						<li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
						<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>


						<li class="page-item"><a
								th:classappend="${pageinfo.disableNextLink}?'page-link disabled':'page-link'"
								th:href="@{'/get/'+${pageinfo.nextPage} +'/' + ${pageinfo.pageSize}}">Next</a></li>
					</ul>
					<input id="pageinfo" th:type="hidden" th:object="${pageinfo}">
					<!-- <p th:text="${pageinfo.disablePreLink}"></p> -->

					<div class="col">
						<table class="table bg-white rounded shadow-sm  table-hover">
							<thead>
								<tr>
									<th scope="col" width="50">#</th>
									<th scope="col">UserName</th>
									<th scope="col">BirthDay</th>
									<th scope="col">Sex</th>
									<th scope="col">Address</th>
									<th scope="col">Operation</th>
								</tr>
							</thead>
							<tbody>

								<tr th:each="user:${users}">
									<td th:text="${user.id}" scope="row">user_id</td>
									<td th:text="${user.username}">user_name</td>
									<td th:text="${user.birthday}">user_birthday</td>
									<td th:text="${user.sex}">user_sex</td>
									<td th:text="${user.address}">user_address</td>
									<td class="page-item">

										<a class="page-link" th:href="@{'/delusr/'+${user.id}}">Delete</a>

									</td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="container-fluid p-5 my-5 bg-dark text-white">
				<h1>我的第一张 Bootstrap 页面 - Server IP 和 Server Name ：</h1>
				<p>Server IP : </p>
				<p class="text-success" th:text=${serverip}>Server IP</p>
				<p>Server Name : </p>
				<p class="text-success" th:text=${servername}>Server naem</p>

			</div>
		</div>
		<!-- ------main content------- -->

	</div>
	<!-- /#page-content-wrapper -->





	<script>
		var el = document.getElementById("wrapper");
		var toggleButton = document.getElementById("menu-toggle");
		toggleButton.onclick = function () {
			el.classList.toggle("toggled");
		};
	</script>
</body>

</html>